<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480369255744-h98prpiu0nmmp8147li0bk7mlbqfiodc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480369255744-h98prpiu0nmmp8147li0bk7mlbqfiodc</string>
	<key>API_KEY</key>
	<string>AIzaSyAnXFQsBmi4jqDYFsnKNRX6UFTc5KLtn6E</string>
	<key>GCM_SENDER_ID</key>
	<string>480369255744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myreactapp.myreactapp</string>
	<key>PROJECT_ID</key>
	<string>rn-root</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-root.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480369255744:ios:3e09f6cd2e5115b46306a5</string>
</dict>
</plist>